
/*
a:hover {
	color: #cc0000;
	font-weight: bold;
	text-decoration: none;
}
*/
#intro {
	color:#B83C3A;
}
.standout
{
	color:#F7AC5F;
	font-family:Arial, Helvetica, sans-serif;
}

span{


}